<% provide(:title, "Create a result") %>
<%= javascript_pack_tag 'edit_results' %>

<%= render layout: 'competitions/nav' do %>
  <h3>Creating result for <%= @competition.name %></h3>
  <div id="result-edit-area"></div>
<% end %>
<script>
$(function() {
  wca.initializeResultForm(null, <%= @round&.id || "null" %>, <%= @result.to_json.html_safe %>);
});
</script>
